{% extends 'base.html.twig' %}

{% block title %}OffersController!{% endblock %}

{% block body %}
    <div class="container">
        <h1>All offers ({{ offers|length }})</h1>
        <a href="/offers/new/" class="btn btn-primary">New</a>
        <div class="d-flex flex-wrap align-items-center">
        {% for offer in offers %}
            <div class="m-2 card" style="width:300px">
                <div class="card-img-overlay">
                    <h4 class="card-title">{{ offer.name }}</h4>
                    <p class="card-text">{{ offer.company.name }}</p>
                    <p class="card-text">{{ offer.description }}</p>
                    <a href="/offers/new/{{ offer.id}}" class="btn btn-primary">Details</a>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}
